<app-page>
  <h2>Lobby</h2>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <div class="form-group">
          <label for="player-name">Player name:</label>
          <input id="player-name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label for="player-image">Avatar:</label>
          <app-image-picker id="player-image" formControlName="image"></app-image-picker>
        </div>

        <button type="submit">Save & ready!</button>
      </div>
      <div>
        <div *ngFor="let player of players$ | async; trackBy: trackById">
          <app-user-profile [player]="player"></app-user-profile>
        </div>
      </div>
    </div>
  </form>

  <button *appIfHost [disabled]="!(allReady$ | async)">Start game!</button>

  <pre>{{ players$ | async | json }}</pre>
</app-page>
