/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

@include mat-core();
$final-game-primary: mat-palette($mat-indigo);
$final-game-accent: mat-palette($mat-pink, A200, A100, A400);
$final-game-warn: mat-palette($mat-red);
$final-game-theme: mat-light-theme((
  color: (
    primary: $final-game-primary,
    accent: $final-game-accent,
    warn: $final-game-warn,
  )
));

@include angular-material-theme($final-game-theme);

@layer base {
  html, body {
    @apply h-full;
  }
  body {
    @apply m-0;
  }

  a {
    @apply text-primary;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  .img-fluid {
    @apply max-w-full h-auto;
  }
}

@layer components {
  .btn {
    @apply transition-all px-2 py-1 rounded text-center bg-primary text-white bg-gradient-to-b from-primary to-primary-300 shadow appearance-none inline-block
    hover:from-primary-100 hover:to-primary-400;

    &:active {
      @apply from-primary to-primary-300 shadow-inner;
    }

    &:disabled {
      @apply opacity-50;
    }
  }

  .btn-block {
    @apply block w-full;
  }

  .form-control {
    @apply rounded border py-1 px-2 block appearance-none w-full;
  }

  .form-group {
    @apply block mb-3;

    label {
      @apply block mb-2 text-gray-700
    }
  }

}

@layer utilities {
  .text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
